# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('customer.csv')
data.shape
data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.dtypes
# customer lf value - float
# n of open complaints - int? looks like date, unsure whether center number is actual complaints

array(['Arizona', 'Nevada', 'California', 'Washington', 'Oregon', 'AZ',
       'WA', 'Cali'], dtype=object)

In [ ]:
data.isna().sum()
# lots of nullified vals in every column, almost all the same amount

In [22]:
# categorical: state, gender, education, policy type, vehicle class

data['ST'].unique()
data['ST'].value_counts(dropna=False)
#

Oregon        276
Arizona       174
California    174
Cali          119
Nevada         89
Washington     79
WA             29
AZ             14
Name: ST, dtype: int64

In [23]:
data['GENDER'].unique()
data['GENDER'].value_counts(dropna=False)

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [24]:
data['Education'].unique()
data['Education'].value_counts(dropna=False)

Bachelor                284
College                 279
High School or Below    265
Master                   84
Doctor                   35
Bachelors                 7
Name: Education, dtype: int64

In [25]:
data['Policy Type'].unique()
data['Policy Type'].value_counts(dropna=False)

Personal Auto     691
Corporate Auto    211
Special Auto       52
Name: Policy Type, dtype: int64

In [26]:
data['Vehicle Class'].unique()
data['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    508
Two-Door Car     184
SUV              179
Sports Car        52
Luxury SUV        18
Luxury Car        13
Name: Vehicle Class, dtype: int64

In [3]:
data['Customer Lifetime Value'] = data['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0 
#making customer obj into a float by deleting % and making it a float

In [7]:
#remove duplicate empty lines
data = data.drop_duplicates()

data['Customer Lifetime Value'] = data['Customer Lifetime Value'].fillna(0) #replace 4 nans with 0
# data['Number of Open Complaints'] =  pd.to_numeric(data['Number of Open Complaints'], errors='coerce')

In [13]:
# data.isna().sum()
data = data[data['GENDER'].isna()==False] #count out nullifiers in gender

Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

In [29]:
round(data.median(numeric_only=True), 2) #median of numeric columns

Customer Lifetime Value     5881.74
Income                     36641.50
Monthly Premium Auto          83.00
Total Claim Amount           350.40
dtype: float64

In [31]:
round(data.mean(numeric_only=True), 2) #mean

Customer Lifetime Value     7925.36
Income                     39575.93
Monthly Premium Auto         204.97
Total Claim Amount           404.43
dtype: float64

In [34]:
data.mode(numeric_only=True)

   Customer Lifetime Value  Income  Monthly Premium Auto  Total Claim Amount
0                 2514.592     0.0                  65.0               321.6

In [39]:
round(data.quantile(q = [0.25,0.5,0.75], axis=0, numeric_only=True), 2)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,4088.24,13364.75,68.0,194.62
0.50,5881.74,36641.50,83.0,350.40
0.75,9032.93,64948.00,110.0,532.80

In [36]:
import statistics as stats

round(data.std(numeric_only=True), 2)

Customer Lifetime Value     6262.78
Income                     30716.70
Monthly Premium Auto        1695.98
Total Claim Amount           299.21
dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [57]:
less_common_places = data['ST'].value_counts()

less_common_places = pd.DataFrame(data['ST'].value_counts())
less_common_places.iloc[-5:].sort_values(by = 'ST') #sort values in ascending order by default

             ST
AZ           14
WA           29
Washington   79
Nevada       89
Cali        119

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here